/* responsive */

/* Tablet */
@media (max-width: 768px) {
    .logo2 {
      width: 300px;
      margin-left: 20px;
    }
    .agent {
      width: calc(33.33% - 20px);
    }
  }
  
  /* Mobile */
  @media (max-width: 480px) {
    .logo2 {
      width: 200px;
      margin-left: 10px;
    }
    .agent {
      width: calc(50% - 20px);
    }
    .container-agents {
      flex-direction: column;
    }
  }
  
  @media (max-width: 600px) { /* ajusta el ancho según sea necesario */
    .phone-grid, .phone-grid-wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
  }
        
  @media (max-width: 768px) {
    .phone-grid-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
    .see-more {
      margin-top: 20px; /* Adjust separation on smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .phone-grid-wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
    .phone-item {
      margin: 10px;
    }
    .see-more {
      margin-top: 10px; /* Adjust separation on smallest screens */
    }
  }
  @media only screen and (max-width: 768px) {
    .carousel {
      height: 300px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .carousel {
      height: 200px;
    }
  }
  
  